h1 {
  font-size: 1.2em;
  margin-bottom: 0;
  margin: 10px;
  display: flex;
  max-width: 100vh;
  flex-direction: row;

}


.menu{
  margin: 10px;
  display: flex;
  max-width: 100vh;
  flex-direction: row;

}
